.employee {
  width: 45rem;
  min-height: 40rem;
  background-color: #eee;

  border-radius: 2px;
  padding-block: 5%;

  max-width: 1200px;
  margin: auto;
}
.employee main {
  display: flex;
}
.employee-left-tab {
  flex-basis: 50%;
}

.employee main > * {
  padding-inline: 4%;
}

.employee-heading {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
